.card {
    height: auto;
    border-radius: 10px;
    flex: 1 0 21%;
    border: 2px solid #675bf1;
    margin-right: 15px;
    margin-top: 15px;
  
    &__container {
      padding: 1rem;
    }
  
    &__title,
    &__status,
    &__description > p:first-child {
      font-weight: bold;
    }
  
    &__status {
      &--new {
        color: #04be00;
      }
    }
    &__lineBreak {
      height: 2px;
      background: #675bf1;
    }
  
    &__description > p:last-child {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    &__select {
      box-sizing: border-box;
      width: 135px;
      height: 30px;
      background: #FFFFFF;
      border: 1px solid #675BF1;
      border-radius: 10px;
      margin:0 4rem;
      text-align: center;
  }
  }