.btn {
    width: 200px;
    height: 35px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    font-size: 17px;
    text-align: center;
    color: white;
    cursor: pointer;


    
  }

