.input-text {
    width: 500px;
    height: 35px;
    font-size: 24px;
    border: 2px solid white;
    border-radius: 10px;

    margin-right: 15px;
    background-color: transparent;
    padding-left: 20px;
  
    &::placeholder {
      color: #bbb;
    }
  }