/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.container{
  margin: 3rem auto;
  padding: 0;
  border: 1px solid black;
  width: 50%;
}
.header{
  height: 8vh;
  background-color: blue;
  display: flex;
  box-sizing: border-box;
}
.header__createBtn{
  float: left;
  margin: 1rem;
}
.header__searchForm{
  float: left;
  margin: 1rem 3rem 1rem 20rem;
}
.main{
  display: flex;
  height: 80vh;
}
.main__sidebar{
  float: left;
  width: 15%;
  background-color: orange;
  text-align: center;
  color: aliceblue;
}
.main__todolist{
  width: 85%;
  margin: 0.5rem;
}
.main__navigation{
  margin-top: 20rem;
  text-align: center;
}
